body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: 100vh;
}

.body-padding {
  padding: 25px !important;
  height: 100%;
}

#root {
  height:100vh;
}

#background {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.background-hyperion {
  background-image: url("/img/full-backgrounds/hyperion.jpg") !important;
  
}

.background-castle {
  background-image: url("/img/full-backgrounds/castle.jpg") !important;
}

.background-earth {
  background-image: url("/img/full-backgrounds/earth-light.jpg") !important;
}

.background-robot {
  background-image: url("/img/full-backgrounds/robot-laputa.jpg") !important;
}

.background-night {
  background-image: url("/img/full-backgrounds/night-sky.jpg") !important;
}

.background-wormhole {
  background-image: url("/img/full-backgrounds/wormhole.jpg") !important;
}

.background-clockwork {
  background-image: url("/img/full-backgrounds/clockwork.png") !important;
}

.card-image {
  height: 340px !important;
}

.sidebar {
  width: 185px !important;
}

.gallery-scroll {
  height:780px !important;
  overflow-y: auto !important;
}

.gallery-grid-width {
  width: 1355px !important;
}

.gallery-divider {
  margin: 0rem !important;
}

.welcome-pattern {
  background-image: url("/img/vector-pattern.jpg") !important;
}

.welcome-fill {
  background-color: rgb(212, 195, 179) !important;
}

.welcome-font-background {
  background-color: rgb(150, 30, 30) !important;
  padding-left: 2rem !important;
  padding-top: 2rem !important;
}

.welcome-font {
  font-size: 20px;
  /* font-family: "Courier New"; */
  color: rgb(255, 125, 125) !important;
}

.welcome-text {
  background-color: rgb(255, 125, 125) !important;
  color: rgb(150, 30, 30) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 1rem !important;
  padding-right: 2rem !important;
  padding-bottom: 2rem !important;
  text-align: bottom !important;
  text-align: right !important;
}

.welcome-height {
  height: 320px !important;
  padding-top: 0 !important;
  padding-bottom: 0!important;
}

.welcome-picture {
  height: 320px !important;
  background-image: url("/img/fruit-vase.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}

.segment-no-border {
  border: 0px !important;
}

.center-modal {
  top: 20% !important;
}

.profile-image {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
