body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: 100vh;
}

.centralised {
  padding: 25px;
  height: 0.91vh;
}

#root {
  height:100vh;
}

#background {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.background-hyperion {
  background-image: url("/img/hyperion.jpg") !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
